/* Background */
.is-hidden-frameless:not(.is-fullscreen).is-focused .titlebar-button-container.mod-right,
.workspace-tab-header-container,
.sidebar-toggle-button,
.workspace-tabs.mod-top,
.mod-macos.is-hidden-frameless:not(.is-popout-window) .sidebar-toggle-button.mod-right,
.workspace-tabs .workspace-leaf,
.titlebar,
.workspace-ribbon.mod-left,
.workspace-ribbon.mod-left:before,
body.is-focused .titlebar,
body.is-focused .workspace-ribbon.mod-left {
    background-color: #22252a;
}

.is-focused .workspace-leaf.mod-active .view-header,
.workspace-tab-header.is-active.mod-active,
.workspace-tab-header.is-active.mod-active,
.workspace-tabs.mod-top.mod-top-left-space > .workspace-leaf-content,
.show-view-header .view-header,
.workspace .mod-root .workspace-tab-header,
.workspace-tabs .workspace-leaf .view-content {
    background-color: #292c33;
}

.view-header-title-container.mod-at-start.mod-fade::after {
    background: none;
}

.workspace-split.mod-root .workspace-tab-header-container .workspace-tab-header.is-active::before,
.workspace-split.mod-root .workspace-tab-header-container .workspace-tab-header.is-active::after {
    box-shadow:
        inset 0 0 0 var(--tab-outline-width) var(--tab-outline-color),
        0 0 0 calc(var(--tab-curve) * 4) #292c33;
}

.cm-strong,
b,
strong {
    font-weight: bold;
    color: rgb(240, 195, 125);
}

.cm-header-1,
.markdown-rendered h1,
.cm-header-2,
.markdown-rendered h2 {
    border-bottom: solid 1px gray;
}

.cm-strikethrough {
    color: #5d5d5d !important;
}

.markdown-source-view.mod-cm6 .cm-table-widget th,
.markdown-source-view.mod-cm6 .cm-table-widget td,
.markdown-rendered thead tr > th,
.markdown-rendered tbody tr > td {
    border-color: var(--text-normal);
}

.theme-dark {
    --text-accent: hsl(219, 79%, 66%);
    --color-accent: hsl(219, 79%, 66%);
    --interactive-normal: #1b1d22;
    --interactive-accent: #4d78cc;
    --titlebar-background: #22252a;
    --titlebar-background-focused: #292c33;
    --background-modifier-form-field: #1b1d22;
    --canvas-background: #292c33;
    --embed-bacground: #1b1d22;
    --background-primary: #1b1d22;
    --background-secondary: #1b1d22;
}

/* Caret */
.Í¼2 .cm-content {
    caret-color: white;
}
